require('dotenv').config();
const mysql = require('mysql2');

function createConnection() {
  return mysql.createConnection({
    host: 'stockjabber.freedb.in',
    port: '36033',
    user: 'pinstox',
    password: '21bF658b',
    database: 'pinstox',
  });
}

function handleDisconnect() {
  const dbConn = createConnection();

  dbConn.connect(function(err) {
    if (err) {
      console.error('Error connecting to database: ' + err.stack);
      setTimeout(handleDisconnect, 2000); // Reconnect after 2 seconds
      return;
    }
    console.log("Database Connected!");
  });

  dbConn.on('error', function(err) {
    console.error('Database error:', err);
    if (err.code === 'PROTOCOL_CONNECTION_LOST') {
      console.log('Connection lost. Reconnecting...');
      handleDisconnect(); // Reconnect if the connection is lost
    } else {
      throw err;
    }
  });

  module.exports = dbConn;
}

handleDisconnect();